.container{
    width: 800px;
    height: 60px;
    border: 3px solid #000;
    justify-content: center;
    /* margin: 200px; */
    background: #000;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    align-items: center;
    /* margin-left: 300px; */
}
.in{
    height: 40px;
    width: 700px;
    margin: 7px;
    font-size: medium;
    border-radius: 5px;
    border-color: aliceblue;
    
}
.b{
    height: 40px;
    margin: 2px;
    width: 60px;
    background-color: aquamarine;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    border-radius: 50px;
}
.b:hover{
    background-color: rgb(8, 204, 171);
}
.in:hover{
    border-color: aquamarine;
}
.container:hover{

  border-color: rgb(21, 235, 164);
}
.task-container {
    width: 800px;
    display: flex;
    /* margin-left: 500px; */
    flex-direction: column; /* Reverse the order to align buttons to the right */
    margin: 10px;
    padding: 10px;
    border: 2px solid #000;
    background-color: #000;
    color: aquamarine;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  
 
  
  .delete-button
   {
    padding: 10px;
    background-color: #ff6666; /* Red color for delete button */
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 600px; /* Add some margin between buttons if needed */
    width: 200px;
  }
  
 
  .task-container{
    display: flex;
    flex-direction: column;
    border-bottom: #ffffff;

  }
 
  
  
  
  .center-container {
    display: flex;
    flex-direction: column;
    align-items: center;
   /* Add space between the containers */
    height: 100vh;
    margin:100px; /* Add some margin between the containers if needed */
  }
  
  /* Rest of your existing styles */
  
  /* Rest of your existing styles */
  .task-list{
    border-bottom: #ffffff;
  }